*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    width: 350px;
    height: 100%;
    min-height: 350px;
    color: #ced7e0;
    background: #000000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
    transition: ease-in 0.3s;
    z-index: 100;
    align-items: start;
    justify-content: space-between;
}

.title{
    font-size: large;
}

.wrapper{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    padding-left: 1em;
    padding-top: 1em;
    justify-content: space-between;
}

.escrita{
    padding-left: 25px;
}

/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    justify-content: space-between;
    align-items: start;
   }
   
   /* Create a custom checkbox */
   .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: #606062;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0,5);
   }
   
   /* When the checkbox is checked, add a blue background */
   .container input:checked ~ .checkmark {
    background-image: linear-gradient(#b9e9b3,#a8e4a0)
   }
   
   /* Create the checkmark/indicator (hidden when not checked) */
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   
   /* Show the checkmark when checked */
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   
   /* Style the checkmark/indicator */
   .container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }

.bn62 {
   color: #ced7e0;
   background-color: #051427;
   border-radius: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 2em;
   width: 15em;
   font-size: large;
   font-weight: 600;
   margin: 0.5em;
}