.home{
    background-size: cover;
    background-image: url(../img/dead.jpg);
    display: flex;
    justify-content: center;
}

.continue{
    width: 50%; 
    height: 50%;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    background-color: #aaaaaa;
    box-shadow: 4px 4px 6px #918977;
    display: flex;
    margin: 5px;
}

.info{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    align-items: center;
    align-content: center;
}

.h1{
    font-size: 30px;
    padding: 20px;
    width: 100%;
    height: 10%;
    margin-bottom: 50px;
    margin-top: 20px;
}
.p{
    font-size: 20px;
}

.button {
    margin: 55px;
    display: inline-block;
    cursor: pointer;
    width: 70%;
    height: 60%;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: darkred;
    border: none;
    border-radius: 500px;
    box-shadow: 0 9px #474747;
  }
  
  .button:hover {background-color: red}
  
  .button:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
