.map{
    background-size: cover;
    background-size: contain;
    background-position-x: center;
    background-image: url(../img/mapa.png);
    display: flex;
}

.voltar{
    width: 10%;
    height: 10%;
    margin: 15px;
    border-radius: 10px;
    background-color: #aaaaaa;
    box-shadow: 4px 4px 6px #918977;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.tempo{
    width: 10%;
    height: 10%;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #aaaaaa;
    box-shadow: 4px 4px 6px #918977;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    position: relative;
    float: right;
}

.caminho{
    width: 5%;
    height: 10%;
    margin: 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: #d6e0f0;
    box-shadow: 4px 4px 6px  #3f474e;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    position: relative;
}

.Reator{
    top:41%;
    right: 7%;
}

.TurbinaSuperior{
    top:16%;
    left: 1%;
}
.TurbinaInferior{
    top:65%;
    left: 1%;
}
.Cafeteria{
    top:17%;
    left: 28%;
}

.Elétrica{
    top: 60px;
    left: 15%;
}
.Armazem{
    top: 72px;
    left: 26%;
}
.Alamédica{
    top:35%;
    left: 15%;
}
.Admin{
    top: 53px;
    left: 36%;
}
.Escudos{
    top: 70px;
    left: 45%;
}
.Navegação{
    top: 36px;
    left: 58%;
}
.O2{
    top: 35px;
    left: 39%;
}
.Armas{
    top: 16px;
    left: 45%;
}

.div-show {  display: flex; }
.div-hidden{ display:none }