.map{
    background-size: cover;
    background-size: contain;
    background-position-x: center;
    background-image: url(../img/mapa.png);
    display: flex;
}

.voltar{
    width: 10%;
    height: 10%;
    margin: 15px;
    border-radius: 10px;
    background-color: #aaaaaa;
    box-shadow: 4px 4px 6px #918977;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.tempo{
    width: 10%;
    height: 10%;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: #aaaaaa;
    box-shadow: 4px 4px 6px #918977;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    position: relative;
    float: right;
}

.caminho{
    width: 5%;
    height: 10%;
    margin: 15px;
    padding: 15px;
    border-radius: 100px;
    background-color: #d6e0f0;
    box-shadow: 4px 4px 6px  #3f474e;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    position: absolute;
}

.Reator{
    top:41%;
    left: 17%;
}

.TurbinaInferior{
    top:65%;
    left: 25%;
}
.Cafeteria{
    top:17%;
    left: 52%;
    background-color: tomato;
}

.Elétrica{
    top: 60%;
    left: 40%;
}
.Armazem{
    top: 71%;
    left: 50%;
}
.Alamédica{
    top:35%;
    left: 39%;
}
.Admin{
    top: 52%;
    left: 60%;
}
.Escudos{
    top: 70%;
    left: 69%;
}
.Navegação{
    top: 36%;
    left: 83%;
}
.O2{
    top: 35%;
    left: 64%;
}
.Armas{
    top: 16%;
    left: 69%;
}

.div-show {  display: flex; }