{% extends "base.html" %}
{% block content%}
<link href="{{ url_for('static',filename='css/select.css') }}" rel="stylesheet" type="text/css">
<div class="select">
    <div class="box">
        <form action="/map" method="post">
            {%for task in tasks%}
            <div class="box2">
                <div class="checkbox-wrapper-8">
                    <input class="tgl tgl-skewed" id="{{task}}" name="{{task}}" type="checkbox"/>
                    <label class="tgl-btn" data-tg-off="OFF" data-tg-on="ON" for="{{task}}"></label>
                </div>
                <h1 class="elements">{{task}}</h1>
            </div>
            {% endfor %}
            <button class="button" type="submit"></button>
        </form>
    </div>

</div>
{% endblock %}